.hero-container {
    position: relative;
    height: 62vh;
    width: 100%;
    overflow: hidden;
    background-color: black;
}
  
.slide {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}
  
.slide.active {
    opacity: 1;
}
  
.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
    color: white;
    letter-spacing: 0.3px;
}
  
.slide-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Description Paragraph Styling */
.slide-description {
    font-size: 18px;
    margin-bottom: 25px;
    max-width: 800px;
    line-height: 1.1;
    text-align: center;
}
  
.read-more-btn {
    background-color:#f8f9fa;
    color: black;
    padding: 6px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}
  
.read-more-btn:hover {
    background-color: #4d70b5;
    color: white;
}
  
.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 5;
}
  
.prev-arrow {
    left: 20px;
}
  
.next-arrow {
    right: 20px;
}
  
@media (max-width: 768px) {
    .slide-title {
      font-size: 1.2rem;
    }
    .read-more-btn{
        font-size: 8px;
    }
    
    .content {
        top: 55%;
        left: 50%;
    }

    .slide-description {
        font-size: 16px;
        line-height: 1;
    }
}
