@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Proxima Nova';
    line-height: 1.6;
    font-weight: 400;
  }
  
  h1, h2, h3, h4 {
    font-family: 'Avenir';
    font-weight: 700;
    line-height: 1.4;
  }
  
  p {
    font-family: 'Proxima Nova';
    font-weight: 400;
    line-height: 1.6;
    text-align: justify;
  }
  